body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.body-styled{
    background-color: black;
    color: white;

}
.btn-styled{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
}
.hidden{
    display: none;
}

/* ............................ */

.div{
    border: 1px solid blue  ;
    border-radius:20px ;
    padding: 10px;
}
.h2{
    color: blue;
}
.p{
    color: rgb(25, 25, 100);
}

/* ////////////////////////////// */

.dark-made{
    background-color: black;
    color: white;
}