body{
    margin: 0;
    padding: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKGr3ViGpC7Gs6Bnw1dVkJ6HGFivWhkqyTdA&s');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
img{
    width: 35px;
    height: 35px;
    color: white;
}

input{
    border: none;
    width: 500px;
    height: 30px;
    background-color:rgb(26, 26, 26);
    color:white;
    border-radius: 7px;
}
button{
    border: none;
    margin: 10px 130px;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgb(26, 26, 26);
}

.weatherWebsite{
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.citySearchEngine{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}


.weatherForTheDay1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weatherForTheDay2{
    display: flex;
    flex-direction: row;
    
}

.ForADay{
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}


.weekday{
    display: flex;
    flex-direction: row ;
}
.TheWeek{
    display: ;
    text-align: center;
}

